body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a {
  text-decoration: none !important; }

.custom-button {
  min-width: inherit;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.3s ease 0s;
  background: #0b60a9;
  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  padding: 10px 35px;
  border: none;
  height: auto;
  width: auto;
  cursor: pointer;
  display: inline-block;
  min-width: 135px;
  text-align: center;
  margin: 0;
  position: relative;
  font-weight: 500;
  vertical-align: middle; }
  .custom-button:hover {
    background-color: #222;
    color: #fff;
    box-shadow: 0px 2px 7px 0px rgba(162, 160, 160, 0.54); }

#fast-contact ul li {
  list-style-type: none; }
  #fast-contact ul li .header-box-icon i {
    font-size: 40px;
    margin: 2px;
    display: block;
    color: #4c94d2;
    height: auto;
    width: auto;
    border: none;
    padding: 2px; }

#main-nav .collapse {
  margin-left: -43px; }
#main-nav .collapse ul li i {
  color: white; }
#main-nav .social_nw {
  margin-left: 125px; }
#main-nav .navbar-collapse i {
  display: inline-block;
  height: 40px;
  line-height: 1.7;
  margin-right: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  overflow: hidden; }
#main-nav .carousel-inner {
  right: 15%; }
#main-nav .carousel-item {
  bottom: 28%;
  height: auto;
  left: 10%;
  max-width: 100%;
  padding: 0;
  position: absolute;
  transition: all 1s ease-in-out 0s;
  width: 80%;
  z-index: 999; }
#main-nav .carousel-item::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 888;
  background-color: #222;
  opacity: 0.5; }

#features .section_title h2 {
  line-height: 1.75; }
#features .section-top-subtitle {
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 14px; }
#features .section-title {
  margin-bottom: 10px;
  position: relative;
  font-size: 33px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif; }
#features .divider {
  height: 3px;
  width: 80px;
  margin: 0 0 15px;
  border-bottom: 2px solid #0b60a9;
  position: relative;
  display: inline-block; }
  #features .divider::before {
    content: "";
    width: 45px;
    height: 2px;
    margin-left: 17px;
    display: block;
    background: #0b60a9;
    margin: 5px auto; }
#features .car .services_box {
  position: relative;
  z-index: 9;
  padding: 40px 30px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15); }
  #features .car .services_box:hover {
    transform: translateY(-10px); }
#features .car .services_box .service_icon {
  font-size: 40px;
  display: inline-block;
  color: #0b60a9;
  line-height: 0.6;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  padding: 28px 0;
  display: block;
  height: 95px;
  width: 95px;
  text-align: center;
  border-radius: 100%;
  background: #0b60a90f;
  text-shadow: 3px 3px 8px #ececec;
  margin: 0 auto 25px;
  position: relative; }
  #features .car .services_box .service_icon:hover::after {
    transform: scale(1); }
  #features .car .services_box .service_icon::after {
    content: "";
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -12px;
    left: -12px;
    padding: 8px;
    pointer-events: none;
    border: 5px solid #f2f7fb; }
#features .more_2 {
  display: none; }
#features .more:hover .more_1 {
  display: none; }
#features .more:hover .more_2 {
  display: inline-block; }

#latest {
  margin-top: 80px;
  margin-bottom: 100px; }
  #latest .section_title .divider {
    margin-bottom: 15px;
    margin-top: 15px; }
  #latest .divider {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 3px;
    width: 80px;
    margin: 0 0 15px;
    border-bottom: 2px solid #0b60a9;
    position: relative;
    display: inline-block; }
    #latest .divider::before {
      content: "";
      width: 45px;
      height: 2px;
      margin-left: 17px;
      display: block;
      background: #0b60a9;
      margin: 5px auto; }
  #latest .card {
    margin: 8px 15px;
    position: relative;
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s;
    padding: 0;
    transition: all 0.6; }
    #latest .card:hover {
      transform: translateY(-20px); }
  #latest .entry-meta {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.75; }
  #latest .entry-meta .posted-on {
    margin-right: 15px;
    font-size: 13px; }
  #latest .entry-meta .cat-links {
    height: 15px;
    margin-right: 8px; }
  #latest .more_2 {
    display: none; }
  #latest .more:hover .more_1 {
    display: none; }
  #latest .more:hover .more_2 {
    display: inline-block; }
  #latest .services_box .service_icon {
    font-size: 40px;
    display: inline-block;
    color: #0b60a9;
    line-height: 0.6;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    padding: 28px 0;
    display: block;
    height: 95px;
    width: 95px;
    text-align: center;
    border-radius: 100%;
    background: #0b60a90f;
    text-shadow: 3px 3px 8px #ececec;
    margin: 0 auto 25px;
    position: relative; }
    #latest .services_box .service_icon:hover::after {
      transform: scale(1); }
    #latest .services_box .service_icon::after {
      content: "";
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -webkit-transform: scale(0.8);
      -moz-transition: -moz-transform 0.2s, pacity 0.2s;
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transition: transform 0.2s, opacity 0.2s;
      transform: scale(0.8);
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      top: -12px;
      left: -12px;
      padding: 8px;
      pointer-events: none;
      border: 5px solid #f2f7fb; }

.card-im {
  overflow: hidden;
  transition: all 0.4s; }
  .card-im .card-img-top {
    transition: all 0.4s; }
  .card-im img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

#interested {
  margin-top: 30px; }
  #interested .section-title {
    margin-bottom: 10px;
    position: relative;
    font-size: 33px;
    font-weight: 500; }
  #interested .section_title .divider {
    margin-bottom: 15px;
    margin-top: 15px; }
  #interested .divider {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 3px;
    width: 80px;
    margin: 0 0 15px;
    border-bottom: 2px solid #0b60a9;
    position: relative;
    display: inline-block; }
    #interested .divider::before {
      content: "";
      width: 45px;
      height: 2px;
      margin-left: 17px;
      display: block;
      background: #0b60a9;
      margin: 5px auto; }
  #interested .section-subtitle {
    font-size: 16px;
    margin: 0 auto 50px;
    max-width: 700px;
    text-align: center; }
  #interested .section_top {
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 14px; }

#logo {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #f6f8f9; }
  #logo .container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px; }
  #logo .logo-col-6 {
    color: #888;
    font-size: 16px;
    line-height: 1.75; }
  #logo .row {
    margin-left: -25px;
    margin-right: -25px; }
  #logo .logo_item {
    margin: 0 0 15px;
    float: left;
    padding: 0 25px;
    margin-bottom: 0;
    text-align: center;
    width: 16%; }

#main_footer {
  background-color: #2e363a; }
  #main_footer #footer_polovina {
    overflow: hidden;
    padding: 70px 0;
    color: #ccc;
    font-size: 16px;
    position: relative;
    z-index: 9;
    background-attachment: fixed; }
    #main_footer #footer_polovina .footer_img img {
      width: 120px;
      margin-bottom: 10px; }
    #main_footer #footer_polovina .container {
      width: 1230px;
      margin: 0 auto;
      padding-left: 25px;
      padding-right: 25px;
      max-width: 100%; }
    #main_footer #footer_polovina .row {
      margin-left: -25px;
      margin-right: -25px; }
    #main_footer #footer_polovina .footer-title {
      color: #fff;
      font-weight: 400;
      padding-bottom: 15px;
      margin-bottom: 30px;
      position: relative;
      font-size: 22px; }
    #main_footer #footer_polovina .footer-title:after {
      display: block;
      content: "";
      height: 1px;
      background: #ffffff;
      width: 50px;
      position: absolute;
      bottom: -1px; }
    #main_footer #footer_polovina .recent {
      color: #ccc;
      font-size: 16px;
      line-height: 1.75; }
    #main_footer #footer_polovina .recent a {
      margin: 0;
      font-weight: 500;
      color: #fff;
      line-height: 1.5;
      font-size: 17px; }
    #main_footer #footer_polovina .recent p {
      margin-bottom: 5px;
      color: #bbc0d2;
      font-style: italic;
      font-size: 13px; }
    #main_footer #footer_polovina .footers ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    #main_footer #footer_polovina .footers ul li {
      font-size: 15px;
      padding: 0px 15px 5px 20px;
      position: relative; }
    #main_footer #footer_polovina .footers ul li::before {
      color: #fff;
      content: "\f105";
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-size: 13px;
      left: 3px;
      position: absolute;
      top: 2px;
      font-weight: 900; }
    #main_footer #footer_polovina .footers a {
      color: #ddd;
      text-decoration: inherit;
      background-color: transparent; }
    #main_footer #footer_polovina .footers .right {
      float: right; }
    #main_footer #footer_polovina .footer_img .img_galery {
      text-align: center;
      vertical-align: middle;
      width: 100%;
      margin: 0;
      padding: 5px;
      float: left; }
  #main_footer #links .container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
    margin-bottom: 20px; }
  #main_footer #links .links-navigation {
    float: left;
    color: #888;
    font-size: 16px;
    line-height: 1.75; }
  #main_footer #links .links-navigation ul {
    margin: 0;
    padding: 0; }
  #main_footer #links .links-navigation li {
    display: inline-block;
    list-style: outside none none; }
  #main_footer #links .links-navigation li a {
    display: block;
    margin-right: 15px;
    text-transform: capitalize;
    color: #ddd;
    padding: 5px 0; }
  #main_footer #links .links-navigation li a:hover {
    color: #0b60a9; }
  #main_footer .socialka {
    float: right;
    overflow: hidden;
    color: #888;
    font-size: 16px;
    line-height: 1.75; }
    #main_footer .socialka .container {
      width: 1230px;
      margin: 0 auto;
      max-width: 100%; }
  #main_footer .tailpiece {
    background-color: #25292f;
    clear: both;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 15px 0; }
    #main_footer .tailpiece .container {
      width: 1230px;
      margin: 0 auto;
      padding-left: 25px;
      padding-right: 25px;
      max-width: 100%; }
    #main_footer .tailpiece .copyright {
      float: left; }
    #main_footer .tailpiece .site-info {
      float: right; }

.ulcustom {
  display: inline; }
  .ulcustom .licustom {
    display: inline; }

#tailpiece {
  background-color: #25292f; }

.socialka ul {
  margin: 0;
  padding: 0; }

.socialka li a {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 5px; }

.socialka li i {
  border-radius: 100%;
  border: 2px solid #cacaca;
  display: inline-block;
  height: 40px;
  line-height: 1.7;
  margin-right: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  overflow: hidden;
  cursor: pointer; }
  .socialka li i:hover {
    background-color: #1111f5;
    color: #fff; }

#btn-scrollup a.scrollup,
#btn-scrollup a.scrollup:visited {
  background-color: #0b60a9;
  bottom: 50px;
  color: #ffffff;
  float: right;
  line-height: 1.2;
  padding: 10px 15px;
  position: fixed;
  right: 32px;
  text-align: center;
  z-index: 999; }
#btn-scrollup .scrollup i {
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */
